#description{
    color: rgb(228, 225, 225);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgb(44, 33, 59); 
}

#homeButton{
    margin-left: 45%;
    background-color:  rgb(44, 33, 59); 
    color:  rgb(228, 225, 225);
    font-size: 1.2em;
    padding: 0.5em;
    width: 15em;
}
